section{
  position: relative;
  width: 1000px;
  height: 630px;
  background-image: url("./Images/fondo-juego.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.chamaleon{
  position: absolute;
  width: 111px;
  height: 180px;
  left: 453px;
  top: 440px;
  background-repeat: no-repeat;
  background-size: cover;
}

.rojo {
  background-image: url("/Images/red\ chamaleon.png");
}

.azul {
  background-image: url("/Images/blue\ chamaleon.png");
}

.verde {
  background-image: url("/Images/green\ chamaleon.png");
}

.amarillo {
  background-image: url("/Images/yellow\ chamaleon.png");
}

.grasshopper{
  position: absolute;
  width: 120px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
}

.red{
  background-image: url("./Images/saltamontes\ red.png");
}

.green {
  background-image: url("/Images/saltamontes\ green.png");
}

.yellow {
  background-image: url("/Images/saltamontes\ yellow.png");
}

.blue {
  background-image: url("/Images/saltamontes\ blue.png");
}



.hide{
  display: none;
}

#live1{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 950px;
  top:0px;

}

#live2{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 900px;
  top:0px;
}

#live3{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 850px;
  top:0px;
}


