#canvas {
    background-color: #FFFFFF;
    background-image: url(/Images/Diseño\ de\ fondo\ moderno\ abstracto\ ola\ verde\ _\ Descargar\ Vectores\ gratis.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
